.area{
    padding-top: 47px;
    padding-bottom: 75px;
    &__title{
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: #1F1F1F;
        margin-bottom: 20px;
    }
    &__wrapper{
        margin-bottom: 53px;
    }
    &__row{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:not(:last-of-type){
            margin-bottom: 10px;
        }
    }
    input[type=checkbox] {
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        background: #FFFFFF;
        border: 1px solid #B8B8B8;
        border-radius: 3px;
        width: 14px;
        height: 14px;
        -webkit-transition: 100ms;
        -o-transition: 100ms;
        transition: 100ms;
        margin-right: 11px;
    }
    input[type=checkbox]:checked {
        border: 1px solid #1F1F1F;
        border-radius: 3px;
        background: url(../img/checkbox-tick.svg)no-repeat;
        background-position: center;
        width: 14px;
        height: 14px;
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
    }
    &__label{
        font-weight: 400;
        font-size: 13px;
        line-height: 13px;
        color: #1F1F1F;
    }
    &__button{
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        border-radius: 3px;
        margin-left: 15px;
        transition: 300ms ease;
        &:hover{
            background: #DCDCDC;
        }
    }
    &__subtitle{
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #1F1F1F;
        margin-bottom: 20px;
    }
    &__content{
        max-width: 738px;
        width: 100%;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        &:not(:last-of-type){
            margin-bottom: 10px;
        }
    }
    &__p{
        font-weight: 400;
        font-size: 13px;
        line-height: 140%;
        color: #1F1F1F;
    }
    &__input{
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        border-radius: 3px;
        max-width: 348px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #1F1F1F;
        height: 32px;
        padding: 0 10px;
        display: flex;
        align-items: center;
    }
}